body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 50px auto;
  border-top: 16px solid #fff;
  border: 8px solid #fff;
}

.title {
  padding: 8px;
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  padding: 8px;
  background: #e3f4ff;
  border-bottom: 8px solid #fff;
}

.button-container {
  padding: 8px;
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 8px;
}