@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.imgg,
.input,
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px
}

.right-links,
.left-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #eeeeee;
}

a {
  color: rgb(123, 129, 134);
  font-size: large;
  font-weight: bold;
  user-select: none;
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
  margin: 0;
}

img {
  width: 600px;
  padding: 12px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
  margin: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}