body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
}

.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 52px;
}



.primero,
.segundo,
.tercero,
.cuarto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.text {
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin: 10px 0 32px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}