.elemento-impar {
    background-color: rgb(255, 105, 180);
    font-family: Verdana, 'DejaVu Sans', 'sans-serif';
}

#segundo-elemento {
    color: rgb(0,0,255);
    font-size: 36px;
}

.tercero {
    font-size: 24px;
}

#cuarto-elemento {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}
