.both {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', 'sans-serif';
}

#primer_boton {
    background-color: black;
    color: white;
}

#segundo_boton {
    background-color: yellow;
}